<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/build/app.css">
        <title>{% block title %}Parc Automobile{% endblock %}</title>
        <link rel="icon" href="{{ asset('build/images/favicon.ico.png') }}" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% include '_components/_navbar.html.twig' %}
        {% block body %}{% endblock %}
    </body>
    <script src="/build/app.js"></script>
</html>
